<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
<script src="./bundle.js"></script>
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="style.css">
<title>Language identifier machine</title>
</head>

<body>
    <div id="app">
        <h3>Enter some text</h3>
        <textarea v-model="inputText" placeholder="text to identify"></textarea>

        <div id="button">
            <button v-on:click="identify">Identify</button>
        </div>

        <div id="results" ref="resultsNode">
            <h2 v-if="language !== null">{{ language }}</h2>
            <canvas ref="languagesCanvas"></canvas>
            <canvas ref="articlesCanvas"></canvas>
        </div>
    </div>
</body>

</html>
